<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://www.chesscomshop.com/media/catalog/product/cache/322cc98ec597860bcee59068a4c0021b/p/h/phpza7qok.png">
    <title>Chess</title>
</head>
<body>
    <div class="box">
        <img src="https://www.chess.com/bundles/web/images/offline-play/standardboard.1d6f9426.png" alt="">
    </div>
    <div class="box">
        <h1>Play Chess Online on the #1 Site!</h1>
        <span><b>14,502,424</b>Games Today</span>
        <span><b>172,646</b>Playing Now</span>
        <form method="get" action="/play/member">
            <button>Play Online</button>
        </form>
    </div>
</body>
</html>