<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>

<body>
    <img src="https://www.chesscomshop.com/media/catalog/product/cache/322cc98ec597860bcee59068a4c0021b/p/h/phpza7qok.png" alt="">
    <div class="main">
        <form method="get" action="/play/online">
            <input type="email" name="email" placeholder="Enter email" required>
            <input type="password" name="password" placeholder="Enter your pass" required>
            <div>
                <label>
                    <input type="checkbox">
                    <span>Remember me</span>
                </label>
                <a href="">Forgot Password?</a>
            </div>
            <button>Login</button>
        </form>
    </div>
</body>

</html>