<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/online.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="play">
            <div class="profile">
                <div>
                    <img src="https://c.stocksy.com/a/XJC000/z9/47339.jpg" alt="">
                    <span>Opponent</span>
                </div>
                <div class="count">10:00</div>
            </div>
            <div class="game">
                <img src="https://www.chess.com/bundles/web/images/offline-play/standardboard.1d6f9426.png" alt="">
            </div>
            <div class="profile">
                <div>
                    <img src="https://c.stocksy.com/a/XJC000/z9/47339.jpg" alt="">
                    <span>profile Id</span>
                </div>
                <div class="count">10:00</div>
            </div>
        </div>
        <div class="manager">
            <div class="nav">
                <span>New Game</span>
                <span>Games</span>
                <span>Players</span>
            </div>
            <div class="timer">
                <select name="time" id="time">
                    <option value="">10 min</option>
                </select>
            </div>
            <button id="play">Play</button>
            <div class="custom">
                <select name="" id="">
                    <option value="">Custom</option>
                </select>
            </div>

            <button class="btn">Play a Friend</button>
            <button class="btn">Tournaments</button>

            <div class="footer">
                <span><b>1,68,823</b> PLAYING</span>
                <span><b>1,40,93,891</b> GAMES</span>
            </div>
        </div>
    </div>
</body>
</html>