<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/play/online">
        <input type="text" name="username" placeholder="Enter a username" required> 
        <input type="email" name="email" placeholder="Enter a email" required>
        <input type="password" name="password" placeholder="Enter a password">
        <button>SignUp</button>
    </form>
</body>
</html>