<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <h1>Join Now</h1>
        <h3>and Start Playing Chess!</h3>
        <form method="post" action="/play/online">
            <input type="text" name="username" placeholder="Enter a username" required>
            <input type="email" name="email" placeholder="Enter a email" required>
            <input type="password" name="password" placeholder="Enter a password">
            <button>SignUp</button>
        </form>
    </div>
</body>

</html>